# Data Cleaning and Analysis
#### Data regarding education from data.worldbank.org

## Imports

In [1]:
# Basic imports

import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt 
import seaborn as sns 
sns.set()

%matplotlib inline

In [2]:
# Additional imports
import os
import education.utils as u

## Files with data

In [3]:
# Paths to data
raw_data = '../data/raw'
processed_data = '../data/processed'
clean_data = '../data/clean'

In [4]:
# Show all files 
os.listdir(processed_data)

['countries_info.csv',
 'data_explain.csv',
 'data_sources.csv',
 'data_year.csv',
 'ed_data.csv',
 'life_expectancy.csv',
 'POP.csv']

In [5]:
# File paths
ed_data = 'ed_data.csv'
countries = 'countries_info.csv'
data_info = 'data_explain.csv'
data_pop = 'POP.csv'
data_le = 'life_expectancy.csv'

## Data Exploration

In [6]:
ed_df = pd.read_csv(os.path.join(processed_data, ed_data))

In [7]:
ed_df.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1970,1971,1972,1973,1974,1975,...,2055,2060,2065,2070,2075,2080,2085,2090,2095,2100
0,Arab World,ARB,"Adjusted net enrolment rate, lower secondary, ...",UIS.NERA.2,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Arab World,ARB,"Adjusted net enrolment rate, lower secondary, ...",UIS.NERA.2.F,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Arab World,ARB,"Adjusted net enrolment rate, lower secondary, ...",UIS.NERA.2.GPI,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Arab World,ARB,"Adjusted net enrolment rate, lower secondary, ...",UIS.NERA.2.M,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Arab World,ARB,"Adjusted net enrolment rate, primary, both sex...",SE.PRM.TENR,54.822121,54.894138,56.209438,57.267109,57.991138,59.36554,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
indicators = list(ed_df['Indicator Name'].unique())

In [9]:
for i in indicators:
    if 'Barro-Lee' in i:
        print(i)

Barro-Lee: Average years of primary schooling, age 15+, female
Barro-Lee: Average years of primary schooling, age 15+, total
Barro-Lee: Average years of primary schooling, age 15-19, female
Barro-Lee: Average years of primary schooling, age 15-19, total
Barro-Lee: Average years of primary schooling, age 20-24, female
Barro-Lee: Average years of primary schooling, age 20-24, total
Barro-Lee: Average years of primary schooling, age 25+, female
Barro-Lee: Average years of primary schooling, age 25+, total
Barro-Lee: Average years of primary schooling, age 25-29, female
Barro-Lee: Average years of primary schooling, age 25-29, total
Barro-Lee: Average years of primary schooling, age 30-34, female
Barro-Lee: Average years of primary schooling, age 30-34, total
Barro-Lee: Average years of primary schooling, age 35-39, female
Barro-Lee: Average years of primary schooling, age 35-39, total
Barro-Lee: Average years of primary schooling, age 40-44, female
Barro-Lee: Average years of primary schooling, age 40-44, total
Barro-Lee: Average years of primary schooling, age 45-49, female
Barro-Lee: Average years of primary schooling, age 45-49, total
Barro-Lee: Average years of primary schooling, age 50-54, female
Barro-Lee: Average years of primary schooling, age 50-54, total
Barro-Lee: Average years of primary schooling, age 55-59, female
Barro-Lee: Average years of primary schooling, age 55-59, total
Barro-Lee: Average years of primary schooling, age 60-64, female
Barro-Lee: Average years of primary schooling, age 60-64, total
Barro-Lee: Average years of primary schooling, age 65-69, female
Barro-Lee: Average years of primary schooling, age 65-69, total
Barro-Lee: Average years of primary schooling, age 70-74, female
Barro-Lee: Average years of primary schooling, age 70-74, total
Barro-Lee: Average years of primary schooling, age 75+, female
Barro-Lee: Average years of primary schooling, age 75+, total
Barro-Lee: Average years of secondary schooling, age 15+, female
Barro-Lee: Average years of secondary schooling, age 15+, total
Barro-Lee: Average years of secondary schooling, age 15-19, female
Barro-Lee: Average years of secondary schooling, age 15-19, total
Barro-Lee: Average years of secondary schooling, age 20-24, female
Barro-Lee: Average years of secondary schooling, age 20-24, total
Barro-Lee: Average years of secondary schooling, age 25+, female
Barro-Lee: Average years of secondary schooling, age 25+, total
Barro-Lee: Average years of secondary schooling, age 25-29, female
Barro-Lee: Average years of secondary schooling, age 25-29, total
Barro-Lee: Average years of secondary schooling, age 30-34, female
Barro-Lee: Average years of secondary schooling, age 30-34, total
Barro-Lee: Average years of secondary schooling, age 35-39, female
Barro-Lee: Average years of secondary schooling, age 35-39, total
Barro-Lee: Average years of secondary schooling, age 40-44, female
Barro-Lee: Average years of secondary schooling, age 40-44, total
Barro-Lee: Average years of secondary schooling, age 45-49, female
Barro-Lee: Average years of secondary schooling, age 45-49, total
Barro-Lee: Average years of secondary schooling, age 50-54, female
Barro-Lee: Average years of secondary schooling, age 50-54, total
Barro-Lee: Average years of secondary schooling, age 55-59, female
Barro-Lee: Average years of secondary schooling, age 55-59, total
Barro-Lee: Average years of secondary schooling, age 60-64, female
Barro-Lee: Average years of secondary schooling, age 60-64, total
Barro-Lee: Average years of secondary schooling, age 65-69, female
Barro-Lee: Average years of secondary schooling, age 65-69, total
Barro-Lee: Average years of secondary schooling, age 70-74, female
Barro-Lee: Average years of secondary schooling, age 70-74, total
Barro-Lee: Average years of secondary schooling, age 75+, female
Barro-Lee: Average years of secondary schooling, age 75+, total
Barro-Lee: Average years of tertiary schooling, age 15+, female
Barro-Lee: Average years of tertiary schooling, age 15+, total
Barro-Lee: Average years of tertiary schooling, age 15-19, female
Barro-Lee: Average years of tertiary schooling, age 15-19, total
Barro-Lee: Average years of tertiary schooling, age 20-24, female
Barro-Lee: Average years of tertiary schooling, age 20-24, total
Barro-Lee: Average years of tertiary schooling, age 25+, female
Barro-Lee: Average years of tertiary schooling, age 25+, total
Barro-Lee: Average years of tertiary schooling, age 25-29, female
Barro-Lee: Average years of tertiary schooling, age 25-29, total
Barro-Lee: Average years of tertiary schooling, age 30-34, female
Barro-Lee: Average years of tertiary schooling, age 30-34, total
Barro-Lee: Average years of tertiary schooling, age 35-39, female
Barro-Lee: Average years of tertiary schooling, age 35-39, total
Barro-Lee: Average years of tertiary schooling, age 40-44, female
Barro-Lee: Average years of tertiary schooling, age 40-44, total
Barro-Lee: Average years of tertiary schooling, age 45-49, female
Barro-Lee: Average years of tertiary schooling, age 45-49, total
Barro-Lee: Average years of tertiary schooling, age 50-54, female
Barro-Lee: Average years of tertiary schooling, age 50-54, total
Barro-Lee: Average years of tertiary schooling, age 55-59, female
Barro-Lee: Average years of tertiary schooling, age 55-59, total
Barro-Lee: Average years of tertiary schooling, age 60-64, female
Barro-Lee: Average years of tertiary schooling, age 60-64, total
Barro-Lee: Average years of tertiary schooling, age 65-69, female
Barro-Lee: Average years of tertiary schooling, age 65-69, total
Barro-Lee: Average years of tertiary schooling, age 70-74, female
Barro-Lee: Average years of tertiary schooling, age 70-74, total
Barro-Lee: Average years of tertiary schooling, age 75+, female
Barro-Lee: Average years of tertiary schooling, age 75+, total
Barro-Lee: Average years of total schooling, age 15+, female
Barro-Lee: Average years of total schooling, age 15+, total
Barro-Lee: Average years of total schooling, age 15-19, female
Barro-Lee: Average years of total schooling, age 15-19, total
Barro-Lee: Average years of total schooling, age 20-24, female
Barro-Lee: Average years of total schooling, age 20-24, total
Barro-Lee: Average years of total schooling, age 25+, female
Barro-Lee: Average years of total schooling, age 25+, total
Barro-Lee: Average years of total schooling, age 25-29, female
Barro-Lee: Average years of total schooling, age 25-29, total
Barro-Lee: Average years of total schooling, age 30-34, female
Barro-Lee: Average years of total schooling, age 30-34, total
Barro-Lee: Average years of total schooling, age 35-39, female
Barro-Lee: Average years of total schooling, age 35-39, total
Barro-Lee: Average years of total schooling, age 40-44, female
Barro-Lee: Average years of total schooling, age 40-44, total
Barro-Lee: Average years of total schooling, age 45-49, female
Barro-Lee: Average years of total schooling, age 45-49, total
Barro-Lee: Average years of total schooling, age 50-54, female
Barro-Lee: Average years of total schooling, age 50-54, total
Barro-Lee: Average years of total schooling, age 55-59, female
Barro-Lee: Average years of total schooling, age 55-59, total
Barro-Lee: Average years of total schooling, age 60-64, female
Barro-Lee: Average years of total schooling, age 60-64, total
Barro-Lee: Average years of total schooling, age 65-69, female
Barro-Lee: Average years of total schooling, age 65-69, total
Barro-Lee: Average years of total schooling, age 70-74, female
Barro-Lee: Average years of total schooling, age 70-74, total
Barro-Lee: Average years of total schooling, age 75+, female
Barro-Lee: Average years of total schooling, age 75+, total
Barro-Lee: Percentage of female population age 15+ with no education
Barro-Lee: Percentage of female population age 15+ with primary schooling. Completed Primary
Barro-Lee: Percentage of female population age 15+ with primary schooling. Total (Incomplete and Completed Primary)
Barro-Lee: Percentage of female population age 15+ with secondary schooling. Completed Secondary
Barro-Lee: Percentage of female population age 15+ with secondary schooling. Total (Incomplete and Completed Secondary)
Barro-Lee: Percentage of female population age 15+ with tertiary schooling. Completed Tertiary
Barro-Lee: Percentage of female population age 15+ with tertiary schooling. Total (Incomplete and Completed Tertiary)
Barro-Lee: Percentage of female population age 15-19 with no education
Barro-Lee: Percentage of female population age 15-19 with primary schooling. Completed Primary
Barro-Lee: Percentage of female population age 15-19 with primary schooling. Total (Incomplete and Completed Primary)
Barro-Lee: Percentage of female population age 15-19 with secondary schooling. Completed Secondary
Barro-Lee: Percentage of female population age 15-19 with secondary schooling. Total (Incomplete and Completed Secondary)
Barro-Lee: Percentage of female population age 15-19 with tertiary schooling. Completed Tertiary
Barro-Lee: Percentage of female population age 15-19 with tertiary schooling. Total (Incomplete and Completed Tertiary)
Barro-Lee: Percentage of female population age 20-24 with no education
Barro-Lee: Percentage of female population age 20-24 with primary schooling. Completed Primary
Barro-Lee: Percentage of female population age 20-24 with primary schooling. Total (Incomplete and Completed Primary)
Barro-Lee: Percentage of female population age 20-24 with secondary schooling. Completed Secondary
Barro-Lee: Percentage of female population age 20-24 with secondary schooling. Total (Incomplete and Completed Secondary)
Barro-Lee: Percentage of female population age 20-24 with tertiary schooling. Completed Tertiary
Barro-Lee: Percentage of female population age 20-24 with tertiary schooling. Total (Incomplete and Completed Tertiary)
Barro-Lee: Percentage of female population age 25+ with no education
Barro-Lee: Percentage of female population age 25+ with primary schooling. Completed Primary
Barro-Lee: Percentage of female population age 25+ with primary schooling. Total (Incomplete and Completed Primary)
Barro-Lee: Percentage of female population age 25+ with secondary schooling. Completed Secondary
Barro-Lee: Percentage of female population age 25+ with secondary schooling. Total (Incomplete and Completed Secondary)
Barro-Lee: Percentage of female population age 25+ with tertiary schooling. Completed Tertiary
Barro-Lee: Percentage of female population age 25+ with tertiary schooling. Total (Incomplete and Completed Tertiary)
Barro-Lee: Percentage of female population age 25-29 with no education
Barro-Lee: Percentage of female population age 25-29 with primary schooling. Completed Primary
Barro-Lee: Percentage of female population age 25-29 with primary schooling. Total (Incomplete and Completed Primary)
Barro-Lee: Percentage of female population age 25-29 with secondary schooling. Completed Secondary
Barro-Lee: Percentage of female population age 25-29 with secondary schooling. Total (Incomplete and Completed Secondary)
Barro-Lee: Percentage of female population age 25-29 with tertiary schooling. Completed Tertiary
Barro-Lee: Percentage of female population age 25-29 with tertiary schooling. Total (Incomplete and Completed Tertiary)
Barro-Lee: Percentage of female population age 30-34 with no education
Barro-Lee: Percentage of female population age 30-34 with primary schooling. Completed Primary
Barro-Lee: Percentage of female population age 30-34 with primary schooling. Total (Incomplete and Completed Primary)
Barro-Lee: Percentage of female population age 30-34 with secondary schooling. Completed Secondary
Barro-Lee: Percentage of female population age 30-34 with secondary schooling. Total (Incomplete and Completed Secondary)
Barro-Lee: Percentage of female population age 30-34 with tertiary schooling. Completed Tertiary
Barro-Lee: Percentage of female population age 30-34 with tertiary schooling. Total (Incomplete and Completed Tertiary)
Barro-Lee: Percentage of female population age 35-39 with no education
Barro-Lee: Percentage of female population age 35-39 with primary schooling. Completed Primary
Barro-Lee: Percentage of female population age 35-39 with primary schooling. Total (Incomplete and Completed Primary)
Barro-Lee: Percentage of female population age 35-39 with secondary schooling. Completed Secondary
Barro-Lee: Percentage of female population age 35-39 with secondary schooling. Total (Incomplete and Completed Secondary)
Barro-Lee: Percentage of female population age 35-39 with tertiary schooling. Completed Tertiary
Barro-Lee: Percentage of female population age 35-39 with tertiary schooling. Total (Incomplete and Completed Tertiary)
Barro-Lee: Percentage of female population age 40-44 with no education
Barro-Lee: Percentage of female population age 40-44 with primary schooling. Completed Primary
Barro-Lee: Percentage of female population age 40-44 with primary schooling. Total (Incomplete and Completed Primary)
Barro-Lee: Percentage of female population age 40-44 with secondary schooling. Completed Secondary
Barro-Lee: Percentage of female population age 40-44 with secondary schooling. Total (Incomplete and Completed Secondary)
Barro-Lee: Percentage of female population age 40-44 with tertiary schooling. Completed Tertiary
Barro-Lee: Percentage of female population age 40-44 with tertiary schooling. Total (Incomplete and Completed Tertiary)
Barro-Lee: Percentage of female population age 45-49 with no education
Barro-Lee: Percentage of female population age 45-49 with primary schooling. Completed Primary
Barro-Lee: Percentage of female population age 45-49 with primary schooling. Total (Incomplete and Completed Primary)
Barro-Lee: Percentage of female population age 45-49 with secondary schooling. Completed Secondary
Barro-Lee: Percentage of female population age 45-49 with secondary schooling. Total (Incomplete and Completed Secondary)
Barro-Lee: Percentage of female population age 45-49 with tertiary schooling. Completed Tertiary
Barro-Lee: Percentage of female population age 45-49 with tertiary schooling. Total (Incomplete and Completed Tertiary)
Barro-Lee: Percentage of female population age 50-54 with no education
Barro-Lee: Percentage of female population age 50-54 with primary schooling. Completed Primary
Barro-Lee: Percentage of female population age 50-54 with primary schooling. Total (Incomplete and Completed Primary)
Barro-Lee: Percentage of female population age 50-54 with secondary schooling. Completed Secondary
Barro-Lee: Percentage of female population age 50-54 with secondary schooling. Total (Incomplete and Completed Secondary)
Barro-Lee: Percentage of female population age 50-54 with tertiary schooling. Completed Tertiary
Barro-Lee: Percentage of female population age 50-54 with tertiary schooling. Total (Incomplete and Completed Tertiary)
Barro-Lee: Percentage of female population age 55-59 with no education
Barro-Lee: Percentage of female population age 55-59 with primary schooling. Completed Primary
Barro-Lee: Percentage of female population age 55-59 with primary schooling. Total (Incomplete and Completed Primary)
Barro-Lee: Percentage of female population age 55-59 with secondary schooling. Completed Secondary
Barro-Lee: Percentage of female population age 55-59 with secondary schooling. Total (Incomplete and Completed Secondary)
Barro-Lee: Percentage of female population age 55-59 with tertiary schooling. Completed Tertiary
Barro-Lee: Percentage of female population age 55-59 with tertiary schooling. Total (Incomplete and Completed Tertiary)
Barro-Lee: Percentage of female population age 60-64 with no education
Barro-Lee: Percentage of female population age 60-64 with primary schooling. Completed Primary
Barro-Lee: Percentage of female population age 60-64 with primary schooling. Total (Incomplete and Completed Primary)
Barro-Lee: Percentage of female population age 60-64 with secondary schooling. Completed Secondary
Barro-Lee: Percentage of female population age 60-64 with secondary schooling. Total (Incomplete and Completed Secondary)
Barro-Lee: Percentage of female population age 60-64 with tertiary schooling. Completed Tertiary
Barro-Lee: Percentage of female population age 60-64 with tertiary schooling. Total (Incomplete and Completed Tertiary)
Barro-Lee: Percentage of female population age 65-69 with no education
Barro-Lee: Percentage of female population age 65-69 with primary schooling. Completed Primary
Barro-Lee: Percentage of female population age 65-69 with primary schooling. Total (Incomplete and Completed Primary)
Barro-Lee: Percentage of female population age 65-69 with secondary schooling. Completed Secondary
Barro-Lee: Percentage of female population age 65-69 with secondary schooling. Total (Incomplete and Completed Secondary)
Barro-Lee: Percentage of female population age 65-69 with tertiary schooling. Completed Tertiary
Barro-Lee: Percentage of female population age 65-69 with tertiary schooling. Total (Incomplete and Completed Tertiary)
Barro-Lee: Percentage of female population age 70-74 with no education
Barro-Lee: Percentage of female population age 70-74 with primary schooling. Completed Primary
Barro-Lee: Percentage of female population age 70-74 with primary schooling. Total (Incomplete and Completed Primary)
Barro-Lee: Percentage of female population age 70-74 with secondary schooling. Completed Secondary
Barro-Lee: Percentage of female population age 70-74 with secondary schooling. Total (Incomplete and Completed Secondary)
Barro-Lee: Percentage of female population age 70-74 with tertiary schooling. Completed Tertiary
Barro-Lee: Percentage of female population age 70-74 with tertiary schooling. Total (Incomplete and Completed Tertiary)
Barro-Lee: Percentage of female population age 75+ with no education
Barro-Lee: Percentage of female population age 75+ with primary schooling. Completed Primary
Barro-Lee: Percentage of female population age 75+ with primary schooling. Total (Incomplete and Completed Primary)
Barro-Lee: Percentage of female population age 75+ with secondary schooling. Completed Secondary
Barro-Lee: Percentage of female population age 75+ with secondary schooling. Total (Incomplete and Completed Secondary)
Barro-Lee: Percentage of female population age 75+ with tertiary schooling. Completed Tertiary
Barro-Lee: Percentage of female population age 75+ with tertiary schooling. Total (Incomplete and Completed Tertiary)
Barro-Lee: Percentage of population age 15+ with no education
Barro-Lee: Percentage of population age 15+ with primary schooling. Completed Primary
Barro-Lee: Percentage of population age 15+ with primary schooling. Total (Incomplete and Completed Primary)
Barro-Lee: Percentage of population age 15+ with secondary schooling. Completed Secondary
Barro-Lee: Percentage of population age 15+ with secondary schooling. Total (Incomplete and Completed Secondary)
Barro-Lee: Percentage of population age 15+ with tertiary schooling. Completed Tertiary
Barro-Lee: Percentage of population age 15+ with tertiary schooling. Total (Incomplete and Completed Tertiary)
Barro-Lee: Percentage of population age 15-19 with no education
Barro-Lee: Percentage of population age 15-19 with primary schooling. Completed Primary
Barro-Lee: Percentage of population age 15-19 with primary schooling. Total (Incomplete and Completed Primary)
Barro-Lee: Percentage of population age 15-19 with secondary schooling. Completed Secondary
Barro-Lee: Percentage of population age 15-19 with secondary schooling. Total (Incomplete and Completed Secondary)
Barro-Lee: Percentage of population age 15-19 with tertiary schooling. Completed Tertiary
Barro-Lee: Percentage of population age 15-19 with tertiary schooling. Total (Incomplete and Completed Tertiary)
Barro-Lee: Percentage of population age 20-24 with no education
Barro-Lee: Percentage of population age 20-24 with primary schooling. Completed Primary

In [10]:
off_ed = [
'Barro-Lee: Percentage of female population age 25+ with no education',
'Barro-Lee: Percentage of female population age 25+ with primary schooling. Completed Primary',
'Barro-Lee: Percentage of female population age 25+ with secondary schooling. Completed Secondary',
'Barro-Lee: Percentage of female population age 25+ with tertiary schooling. Completed Tertiary',
'Barro-Lee: Percentage of population age 25+ with no education',
'Barro-Lee: Percentage of population age 25+ with primary schooling. Completed Primary',
'Barro-Lee: Percentage of population age 25+ with secondary schooling. Completed Secondary',
'Barro-Lee: Percentage of population age 25+ with tertiary schooling. Completed Tertiary',
'Barro-Lee: Average years of primary schooling, age 25+, female',
'Barro-Lee: Average years of primary schooling, age 25+, total',
'Barro-Lee: Average years of secondary schooling, age 25+, female',
'Barro-Lee: Average years of secondary schooling, age 25+, total',
'Barro-Lee: Average years of tertiary schooling, age 25+, female',
'Barro-Lee: Average years of tertiary schooling, age 25+, total',
'Barro-Lee: Average years of total schooling, age 25+, female',
'Barro-Lee: Average years of total schooling, age 25+, total',
'Barro-Lee: Population in thousands, age 25+, female',
'Barro-Lee: Population in thousands, age 25+, total'
]

In [11]:
df_off_reg = ed_df[ed_df['Indicator Name'].isin(off_ed)].copy()
df_off_reg.dropna(axis=1, how='all', inplace=True)

In [12]:
df_off_reg.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4356 entries, 155 to 883751
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Country Name    4356 non-null   object
 1   Country Code    4356 non-null   object
 2   Indicator Name  4356 non-null   object
 3   Indicator Code  4356 non-null   object
 4   1970            2592 non-null   float64
 5   1975            2592 non-null   float64
 6   1980            2592 non-null   float64
 7   1985            2592 non-null   float64
 8   1990            2592 non-null   float64
 9   1995            2592 non-null   float64
 10  2000            2592 non-null   float64
 11  2005            2592 non-null   float64
 12  2010            2592 non-null   float64
dtypes: float64(9), object(4)
memory usage: 476.4+ KB

In [13]:
df_c = pd.read_csv(os.path.join(processed_data, countries))

In [14]:
df_c

,Country Code,Short Name,Region,Income Group,POP_census_year,Is_Country
0,ABW,Aruba,Latin America & Caribbean,High income: nonOECD,2010.0,True
1,AFG,Afghanistan,South Asia,Low income,1979.0,True
2,AGO,Angola,Sub-Saharan Africa,Upper middle income,1970.0,True
3,ALB,Albania,Europe & Central Asia,Upper middle income,2011.0,True
4,AND,Andorra,Europe & Central Asia,High income: nonOECD,2011.0,True
...,...,...,...,...,...,...
236,XKX,Kosovo,Europe & Central Asia,Lower middle income,2011.0,True
237,YEM,Yemen,Middle East & North Africa,Lower middle income,2004.0,True
238,ZAF,South Africa,Sub-Saharan Africa,Upper middle income,2011.0,True
239,ZMB,Zambia,Sub-Saharan Africa,Lower middle income,2010.0,True
240,ZWE,Zimbabwe,Sub-Saharan Africa,Low income,2012.0,True

In [15]:
df_c = df_c[['Country Code','Region','Income Group', 'Is_Country']]

In [16]:
df_off = df_off_reg.join(df_c.set_index('Country Code'), on='Country Code', how='left')

In [17]:
df_off.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4356 entries, 155 to 883751
Data columns (total 16 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Country Name    4356 non-null   object
 1   Country Code    4356 non-null   object
 2   Indicator Name  4356 non-null   object
 3   Indicator Code  4356 non-null   object
 4   1970            2592 non-null   float64
 5   1975            2592 non-null   float64
 6   1980            2592 non-null   float64
 7   1985            2592 non-null   float64
 8   1990            2592 non-null   float64
 9   1995            2592 non-null   float64
 10  2000            2592 non-null   float64
 11  2005            2592 non-null   float64
 12  2010            2592 non-null   float64
 13  Region          3852 non-null   object
 14  Income Group    3852 non-null   object
 15  Is_Country      4338 non-null   object
dtypes: float64(9), object(7)
memory usage: 578.5+ KB

In [18]:
df_off['Is_Country'].fillna(value=False, inplace=True)

In [19]:
df_off[~df_off['Is_Country']].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 468 entries, 155 to 191066
Data columns (total 16 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Country Name    468 non-null    object
 1   Country Code    468 non-null    object
 2   Indicator Name  468 non-null    object
 3   Indicator Code  468 non-null    object
 4   1970            0 non-null      float64
 5   1975            0 non-null      float64
 6   1980            0 non-null      float64
 7   1985            0 non-null      float64
 8   1990            0 non-null      float64
 9   1995            0 non-null      float64
 10  2000            0 non-null      float64
 11  2005            0 non-null      float64
 12  2010            0 non-null      float64
 13  Region          0 non-null      object
 14  Income Group    0 non-null      object
 15  Is_Country      468 non-null    bool
dtypes: bool(1), float64(9), object(6)
memory usage: 59.0+ KB

In [20]:
df_off = df_off[df_off['Is_Country']].copy()

In [21]:
df_off.drop(columns='Is_Country', inplace=True)

In [22]:
df_off.drop(columns='Indicator Code', inplace=True)
df_off

,Country Name,Country Code,Indicator Name,1970,1975,1980,1985,1990,1995,2000,2005,2010,Region,Income Group
91780,Afghanistan,AFG,"Barro-Lee: Average years of primary schooling,...",0.03,0.07,0.10,0.17,0.25,0.37,0.48,0.63,0.81,South Asia,Low income
91781,Afghanistan,AFG,"Barro-Lee: Average years of primary schooling,...",0.23,0.37,0.46,0.66,0.85,1.14,1.38,1.69,2.19,South Asia,Low income
91810,Afghanistan,AFG,Barro-Lee: Average years of secondary schoolin...,0.01,0.03,0.05,0.08,0.13,0.17,0.21,0.27,0.25,South Asia,Low income
91811,Afghanistan,AFG,Barro-Lee: Average years of secondary schoolin...,0.09,0.18,0.23,0.35,0.45,0.50,0.53,0.65,0.76,South Asia,Low income
91840,Afghanistan,AFG,Barro-Lee: Average years of tertiary schooling...,0.01,0.01,0.02,0.03,0.05,0.06,0.08,0.09,0.10,South Asia,Low income
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
883661,Zimbabwe,ZWE,Barro-Lee: Percentage of population age 25+ wi...,10.27,16.16,17.72,19.16,20.18,22.44,19.13,21.34,21.92,Sub-Saharan Africa,Low income
883663,Zimbabwe,ZWE,Barro-Lee: Percentage of population age 25+ wi...,3.15,3.86,4.69,8.39,11.85,15.54,8.80,10.35,9.33,Sub-Saharan Africa,Low income
883665,Zimbabwe,ZWE,Barro-Lee: Percentage of population age 25+ wi...,1.39,1.77,2.06,2.80,3.25,2.19,1.03,0.86,0.71,Sub-Saharan Africa,Low income
883750,Zimbabwe,ZWE,"Barro-Lee: Population in thousands, age 25+, f...",899.00,1011.00,1174.00,1459.00,1807.00,2094.00,2253.00,2316.00,2478.00,Sub-Saharan Africa,Low income
883751,Zimbabwe,ZWE,"Barro-Lee: Population in thousands, age 25+, t...",1770.00,1986.00,2295.00,2862.00,3549.00,4053.00,4334.00,4524.00,4940.00,Sub-Saharan Africa,Low income

In [23]:
df_off = pd.melt(df_off,
                 id_vars=['Country Code','Country Name','Indicator Name','Region','Income Group'],
                 value_vars=['1970','1975','1980','1985','1990','1995','2000','2005','2010'],
                 var_name='Year',
                 value_name='Value')

In [24]:
df_off['Indicator Name'].unique()

array(['Barro-Lee: Average years of primary schooling, age 25+, female',
       'Barro-Lee: Average years of primary schooling, age 25+, total',
       'Barro-Lee: Average years of secondary schooling, age 25+, female',
       'Barro-Lee: Average years of secondary schooling, age 25+, total',
       'Barro-Lee: Average years of tertiary schooling, age 25+, female',
       'Barro-Lee: Average years of tertiary schooling, age 25+, total',
       'Barro-Lee: Average years of total schooling, age 25+, female',
       'Barro-Lee: Average years of total schooling, age 25+, total',
       'Barro-Lee: Percentage of female population age 25+ with no education',
       'Barro-Lee: Percentage of female population age 25+ with primary schooling. Completed Primary',
       'Barro-Lee: Percentage of female population age 25+ with secondary schooling. Completed Secondary',
       'Barro-Lee: Percentage of female population age 25+ with tertiary schooling. Completed Tertiary',
       'Barro-Lee: Percentage of population age 25+ with no education',
       'Barro-Lee: Percentage of population age 25+ with primary schooling. Completed Primary',
       'Barro-Lee: Percentage of population age 25+ with secondary schooling. Completed Secondary',
       'Barro-Lee: Percentage of population age 25+ with tertiary schooling. Completed Tertiary',
       'Barro-Lee: Population in thousands, age 25+, female',
       'Barro-Lee: Population in thousands, age 25+, total'], dtype=object)

In [25]:
df_off['Indicator Name'] = df_off['Indicator Name'].apply(u.simplify_indicators)

In [26]:
df_off['Indicator Name'].unique()

array(['Avg. years of primary schooling, age 25+, female',
       'Avg. years of primary schooling, age 25+, total',
       'Avg. years of secondary schooling, age 25+, female',
       'Avg. years of secondary schooling, age 25+, total',
       'Avg. years of tertiary schooling, age 25+, female',
       'Avg. years of tertiary schooling, age 25+, total',
       'Avg. years of total schooling, age 25+, female',
       'Avg. years of total schooling, age 25+, total',
       '% of female pop. age 25+ with no education',
       '% of female pop. age 25+ with primary schooling',
       '% of female pop. age 25+ with secondary schooling',
       '% of female pop. age 25+ with tertiary schooling',
       '% of pop. age 25+ with no education',
       '% of pop. age 25+ with primary schooling',
       '% of pop. age 25+ with secondary schooling',
       '% of pop. age 25+ with tertiary schooling',
       'Pop. in thousands, age 25+, female',
       'Pop. in thousands, age 25+, total'], dtype=object)

In [27]:
df_off = df_off.set_index(['Indicator Name','Country Code','Country Name','Region','Income Group','Year' ]).unstack('Indicator Name')

In [28]:
df_off = df_off.reset_index()

In [29]:
df_off.to_csv(os.path.join(clean_data,'education_level.csv'))

In [30]:
df_off.head()

               Country Code Country Name                     Region  \
Indicator Name
0                       ABW        Aruba  Latin America & Caribbean
1                       ABW        Aruba  Latin America & Caribbean
2                       ABW        Aruba  Latin America & Caribbean
3                       ABW        Aruba  Latin America & Caribbean
4                       ABW        Aruba  Latin America & Caribbean

                        Income Group  Year  \
Indicator Name
0               High income: nonOECD  1970
1               High income: nonOECD  1975
2               High income: nonOECD  1980
3               High income: nonOECD  1985
4               High income: nonOECD  1990

                                                    Value  \
Indicator Name % of female pop. age 25+ with no education
0                                                     NaN
1                                                     NaN
2                                                     NaN
3                                                     NaN
4                                                     NaN

                                                                \
Indicator Name % of female pop. age 25+ with primary schooling
0                                                          NaN
1                                                          NaN
2                                                          NaN
3                                                          NaN
4                                                          NaN

                                                                  \
Indicator Name % of female pop. age 25+ with secondary schooling
0                                                            NaN
1                                                            NaN
2                                                            NaN
3                                                            NaN
4                                                            NaN

                                                                 \
Indicator Name % of female pop. age 25+ with tertiary schooling
0                                                           NaN
1                                                           NaN
2                                                           NaN
3                                                           NaN
4                                                           NaN

                                                    ...  \
Indicator Name % of pop. age 25+ with no education  ...
0                                              NaN  ...
1                                              NaN  ...
2                                              NaN  ...
3                                              NaN  ...
4                                              NaN  ...

                                                                 \
Indicator Name Avg. years of primary schooling, age 25+, female
0                                                           NaN
1                                                           NaN
2                                                           NaN
3                                                           NaN
4                                                           NaN

                                                                \
Indicator Name Avg. years of primary schooling, age 25+, total
0                                                          NaN
1                                                          NaN
2                                                          NaN
3                                                          NaN
4                                                          NaN

                                                                   \
Indicator Name Avg. years of secondary schooling, age 25+, female
0                                                             NaN
1                                                             NaN
2                                                             NaN
3                                                             NaN
4                                                             NaN

                                                                  \
Indicator Name Avg. years of secondary schooling, age 25+, total
0                                                            NaN
1                                                            NaN
2                                                            NaN
3                                                            NaN
4                                                            NaN

                                                                  \
Indicator Name Avg. years of tertiary schooling, age 25+, female
0                                                            NaN
1                                                            NaN
2                                                            NaN
3                                                            NaN
4                                                            NaN

                                                                 \
Indicator Name Avg. years of tertiary schooling, age 25+, total
0                                                           NaN
1                                                           NaN
2                                                           NaN
3                                                           NaN
4                                                           NaN

                                                               \
Indicator Name Avg. years of total schooling, age 25+, female
0                                                         NaN
1                                                         NaN
2                                                         NaN
3                                                         NaN
4                                                         NaN

                                                              \
Indicator Name Avg. years of total schooling, age 25+, total
0                                                        NaN
1                                                        NaN
2                                                        NaN
3                                                        NaN
4                                                        NaN

                                                   \
Indicator Name Pop. in thousands, age 25+, female
0                                             NaN
1                                             NaN
2                                             NaN
3                                             NaN
4                                             NaN


Indicator Name Pop. in thousands, age 25+, total
0                                            NaN
1                                            NaN
2                                            NaN
3                                            NaN
4                                            NaN

[5 rows x 23 columns]

In [31]:
# stripping multindex from columns
df_off.columns = [' '.join(col).strip().replace('Value ','') for col in df_off.columns.values]

In [32]:
# countries without data on education level
df_off[df_off["% of female pop. age 25+ with no education"].isnull()]['Country Name'].unique()

array(['Aruba', 'Angola', 'Andorra', 'American Samoa',
       'Antigua and Barbuda', 'Azerbaijan', 'Burkina Faso',
       'Bahamas, The', 'Bosnia and Herzegovina', 'Belarus', 'Bermuda',
       'Bhutan', 'Channel Islands', 'Comoros', 'Cabo Verde', 'Curacao',
       'Cayman Islands', 'Djibouti', 'Dominica', 'Eritrea', 'Ethiopia',
       'Faroe Islands', 'Micronesia, Fed. Sts.', 'Georgia', 'Gibraltar',
       'Guinea', 'Guinea-Bissau', 'Equatorial Guinea', 'Grenada',
       'Greenland', 'Guam', 'Isle of Man', 'Kiribati',
       'St. Kitts and Nevis', 'Lebanon', 'St. Lucia', 'Liechtenstein',
       'St. Martin (French part)', 'Monaco', 'Madagascar',
       'Marshall Islands', 'Macedonia, FYR', 'Montenegro',
       'Northern Mariana Islands', 'New Caledonia', 'Nigeria', 'Nauru',
       'Oman', 'Palau', 'Puerto Rico', 'Korea, Dem. People’s Rep.',
       'West Bank and Gaza', 'French Polynesia', 'Solomon Islands',
       'San Marino', 'Somalia', 'South Sudan', 'Sao Tome and Principe',
       'Suriname', 'Sint Maarten (Dutch part)', 'Seychelles',
       'Turks and Caicos Islands', 'Chad', 'Turkmenistan', 'Timor-Leste',
       'Tuvalu', 'Uzbekistan', 'St. Vincent and the Grenadines',
       'Virgin Islands (U.S.)', 'Vanuatu', 'Samoa', 'Kosovo'],
      dtype=object)

In [33]:
df_le = pd.read_csv(os.path.join(processed_data, data_le))

In [34]:
df_le['Indicator Name'].unique()

array(['Life expectancy at birth, total (years)'], dtype=object)

In [35]:
df_le.drop(columns=['Indicator Name', 'Indicator Code'], inplace=True)

In [36]:
df_le.head()

,Country Name,Country Code,1960,1961,1962,1963,1964,1965,1966,1967,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
0,Aruba,ABW,65.662,66.074,66.444,66.787,67.113,67.435,67.762,68.095,...,74.872,75.017,75.158,75.299,75.441,75.583,75.725,75.868,76.010,76.152
1,Afghanistan,AFG,32.446,32.962,33.471,33.971,34.463,34.948,35.430,35.914,...,60.484,61.028,61.553,62.054,62.525,62.966,63.377,63.763,64.130,64.486
2,Angola,AGO,37.524,37.811,38.113,38.430,38.760,39.102,39.454,39.813,...,54.311,55.350,56.330,57.236,58.054,58.776,59.398,59.925,60.379,60.782
3,Albania,ALB,62.283,63.301,64.190,64.914,65.463,65.850,66.110,66.304,...,76.221,76.562,76.914,77.252,77.554,77.813,78.025,78.194,78.333,78.458
4,Andorra,AND,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [37]:
years = df_off.Year.unique().tolist()
years.extend(['Country Name','Country Code'])
print(years)

['1970', '1975', '1980', '1985', '1990', '1995', '2000', '2005', '2010', 'Country Name', 'Country Code']

In [38]:
df_le = df_le[years]

In [39]:
df_le = pd.melt(df_le, 
        id_vars=['Country Code', 'Country Name'],
        value_vars=['1970', '1975', '1980', '1985', '1990', '1995', '2000', '2005', '2010'],
        var_name='Year',
        value_name='Life Expectancy at birth')

In [40]:
df_le.head()

  Country Code Country Name  Year  Life Expectancy at birth
0          ABW        Aruba  1970                    69.140
1          AFG  Afghanistan  1970                    37.409
2          AGO       Angola  1970                    40.914
3          ALB      Albania  1970                    66.935
4          AND      Andorra  1970                       NaN

In [41]:
df_off.head()

,Country Code,Country Name,Region,Income Group,Year,% of female pop. age 25+ with no education,% of female pop. age 25+ with primary schooling,% of female pop. age 25+ with secondary schooling,% of female pop. age 25+ with tertiary schooling,% of pop. age 25+ with no education,...,"Avg. years of primary schooling, age 25+, female","Avg. years of primary schooling, age 25+, total","Avg. years of secondary schooling, age 25+, female","Avg. years of secondary schooling, age 25+, total","Avg. years of tertiary schooling, age 25+, female","Avg. years of tertiary schooling, age 25+, total","Avg. years of total schooling, age 25+, female","Avg. years of total schooling, age 25+, total","Pop. in thousands, age 25+, female","Pop. in thousands, age 25+, total"
0,ABW,Aruba,Latin America & Caribbean,High income: nonOECD,1970,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,ABW,Aruba,Latin America & Caribbean,High income: nonOECD,1975,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,ABW,Aruba,Latin America & Caribbean,High income: nonOECD,1980,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,ABW,Aruba,Latin America & Caribbean,High income: nonOECD,1985,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,ABW,Aruba,Latin America & Caribbean,High income: nonOECD,1990,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [42]:
df_off = df_off.merge(right=df_le, how='left', on=['Country Code','Country Name','Year'])

In [43]:
df_off.to_csv(os.path.join(clean_data, 'education_level.csv'), index=False)